.main-container
    position: relative
    height: 100vh
    overflow: hidden
.current--section
    pointer-events: auto
    z-index: 100
    opacity: 1 !important
.main-content
    grid-area: 1 / 1 / 5 / 3
    display: grid
    opacity: 0
    grid-template-columns: repeat(2 , 1fr)
    grid-template-rows: 10%  auto 10% 
    grid-template-areas: "slider-image ..." "slider-image product " "slider-image ... "
.main-content:not(.current--section) .slider-image,
.main-content:not(.current--section) .product,
.main-content:not(.current--section) .product-title
    opacity: 0

.grid
    display: grid
    grid-template-columns: repeat(2 , 1fr)
    grid-template-rows:  10% auto 5% 10% 
    grid-template-areas: "... header" "... main-content" "... navigation" "... footer"

.covers
    position: absolute
    height: 100%
    width: 100%
    display: grid
    grid-template-columns: repeat(2 , 1fr)
.cover
    z-index: 200
    background: $white
    transition: all 0.4s ease-in-out
    width: 0%
.hidden
    position: absolute
    overflow: hidden
    width: 0
    height: 0
    pointer-events: none
.icon
    display: inline-block
    width: 1rem
    height: 1rem
    fill: $black
    margin: 0 0.5em
.slider-image
    grid-area: slider-image
    position: relative
    overflow: hidden
.img-title
    position: absolute
    top: 0 
    left: auto
    display: flex
    justify-content: center
    align-items: flex-start
    right: 0 
    margin: 2em 1em
    h3 
        writing-mode: vertical-rl
        text-transform: capitalize
        transform: rotate(180deg)
        color: $white
        letter-spacing: 0.1em
        line-height: 0.5em
        font-family: 'Helvetica Neue', sans-serif 
.slider-image--inner
    height: 100%
    width: 100%
    position: relative
    background-size: cover
    background-position: 50% 50%
.product
    grid-area: product
    z-index: 100
    display: flex
    flex-direction: column
    padding: 1em 1.5em
    align-items: flex-start
    justify-content: center
.product-description
    position: relative
    margin: 10px 0px
    max-width: 30em
    width: 100%
    overflow: hidden
.product-title
    margin: 10px 0px
    position: relative
    letter-spacing: 0.1em
    padding-right: 10px
    overflow: hidden
.letterWrapper
    display: inline-block
    position: relative
    overflow: hidden
    span 
        display: inline-block
        position: relative
        padding: 0 2px
.sub-title
    overflow: hidden
    position: relative
    color: $gray
    text-transform: capitalize
.subtitle-wrapper
    position: relative
    overflow: hidden
.navigation
    z-index: 150 !important
    display: flex
    align-items: center
    grid-area: navigation
.next-button,.previous-button
    margin: 0 1em
.slider-index
    display: flex
    align-items: center
    color: $black
    position: relative
    overflow: hidden
.slider-index-current,.slider-index-total
    position: relative
    //overflow: hidden
.slider-index-total
    margin: 0 0 0 6em
    &::before
        content: ''
        display: block
        position: absolute
        height: 3px 
        width: 5em
        background-color: $black
        top: calc(50% - 1.5px)
        right: calc(100% + 0.4em) 
.social-media
    display: flex
    align-items: center
    justify-content: flex-end
.social-media-icon
    margin: 0px 8px
.footer
    z-index: 150 
    grid-area: footer
    padding: 1em 1.5em 
    font-weight: 700
    font-size: 0.80rem
    display: flex
    flex-direction: row
    justify-content: space-between
.modal
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 0%
    transition: all 0.2s ease-in-out
    display: flex
    background: rgba(0, 0, 0 ,0.8)
    opacity: 1
    justify-content: flex-end
    z-index: 500
.modal-content
    width: 0%
    opacity: 0
    color: $white
    background: $black
    height: 100%
.modal-menu
    width: 100%
    max-width: 250px  
    margin: 5em 1.4em 
    .icon 
        fill: $white 
.menu-list 
    padding-left: 1em 
    text-transform: capitalize 
.list-item
    margin: 1.6em 0em 
    overflow: hidden
    padding: 0.2em
    position: relative
    a
        color: $white 
        &:hover
            color: $gray
.contact-info
    font-weight: 700
    margin: 2em 0.3em         
